<head>
    <title>WORD COUNT</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<body>
    <div class="container" align='center'>
        <br>
        <br>
        <h1>WORD COUNT</h1>

        <h3>WORD COUNT에서는 단어를 세어줍니다.</h3>
        <br>
        <p> 제작 : 하성아 </p>
        
        <a href="{%url 'home'%}" class="btn btn-outline-light">Home</a>
    </div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
    @import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
    body{
        background-color: #bc884b;
        font-family: 'Nanum Pen Script', cursive;
        font-size : 20px;
    }
    h1{
        font-weight: bolder;
        font-family:'Just Another Hand';
        background-color: #7b5223;
        color: white;
    }
</style>
